DATABASE_URL="postgresql://colecta:colecta@localhost:5433/colecta?schema=public"
PORT=3333
CORS_ORIGIN=http://localhost:5173
MQTT_INGEST_ENABLED=true
MQTT_BROKER_URL="mqtt://broker.emqx.io:1883"
MQTT_TOPIC="binovate/medidas"
MQTT_TENANT_UUID="00000000-0000-0000-0000-000000000001"
MQTT_TRASH_BIN_CODE="PRQ-001"
